body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom right, rgb(106, 220, 245), rgb(188, 147, 253));
    min-height: 100vh;
    hyphens: auto;
}

.abou-header {
    background-color: #1a233c;
    width: 90%;
    padding: 12px;
    margin-left: 4%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 16pt;
    color: rgb(255, 255, 255);
}
a {
    text-decoration: none;
    color: black;
}
.main-menu {
    padding: 9px;
}
.main-menu:hover {
    background-color: #2b3246;
}

.round {
    padding: 1%;
    border-radius: 5px;
}
.margin-medium {
    margin: 5px;
}

.dashboard-header {
    width: 100%;
    height: auto;
    position: fixed;
    background-color: rgb(255, 255, 255);
    padding: 0.5% 1%;
    border-bottom: 1px solid rgb(185, 185, 185);
    display: flex;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
}
@media screen and (max-width: 800px) {
    .search-form { visibility: hidden; }
    #nav-menu { visibility: hidden; }
}
.dashboard-header-nav{
    width: 98%;
    position: absolute;

    div {
        float: right;
        margin-left: 5px;
    }

    input {
        background: transparent;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        background: #2E2F45;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        flex-shrink: 0;
        color: white;
        border-radius: 5px;
        mix-blend-mode: multiply;
        padding: 5px 10px;
        cursor: pointer;
    }
}
.click {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.dashboard-header-logo {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background: #2E2F45;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    mix-blend-mode: multiply;
    padding: 5px 10px;
    white-space: nowrap;
    flex-shrink: 0;
    font-size: clamp(0.8rem, 3vw, 1.1rem);
    white-space: nowrap;
}

.dashboard-sidebar {
    height: 100%;
    width: 200px;
    margin-top: 2%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(185, 185, 185);
    padding-top: 1%;
    overflow: auto;
    z-index: 1;
}
.mobile-button {
    visibility: hidden;
}
@media screen and (max-width: 800px) {
    .dashboard-sidebar { visibility: hidden; padding-top: 8%; }
    .mobile-button { visibility: visible; }
}

.dashboard-sidebar-open {
    visibility: visible;
    margin-top: 5%;
}
.dashboard-button {
    color: black;
    width: 130px;
    height: auto;
    margin: 5px 20px;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    font-size: 14pt;
}   
.dashboard-button:hover {
    background-color: rgb(230, 229, 229);
}
.dashboard-button:active {
    background-color: rgb(185, 185, 185);
}
.dashboard-body {
    padding-left: 204px;
    padding-top: 60px;
    padding-bottom: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 0;
}
@media screen and (max-width: 800px) {
    .dashboard-body { padding-left: 10px; padding-right: 10px; }
}

.word-container {
    size: auto;
    display:inline-block;
}
.word-card {
    width: 150px;
    height: auto;
    margin-left: 4px;
    margin-top: 12px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 16pt;
    color: black;
}

.paginate {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pagination {
    list-style-type: none;
    display: flex;
}
.page-item {
    padding: 5px;
    background-color: white;
    border: white solid 1px;
    border-radius: 3px;
    margin: 0.2%;
}
@media screen and (max-width: 800px) {
    .page-item { padding: 2px; }
}
.active {
    background-color: rgb(170, 170, 170);
    border-color: rgb(170, 170, 170);
}

.word-head {
    /* width: calc(100%-20px); */
    width: max-content;
    height: auto;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    background-color: rgb(230, 229, 229);
    border-radius: 5px;
}
.word-head-big {
    background-color: #ffffffa7;
    color: rgb(0, 0, 0);
    font-size: 4em;
    margin: 0% 0.5%;
    padding: 2% 1%;
    width: calc(100%-2%);
    border-radius: 30px;
}

.substrate {
    width: calc(100%-20px);
    height: auto;
    margin: 2% 8%;
    padding: 2%;
    background-color: white;
    border-radius: 5px;

    .information-container {
        width: auto;
        height: auto;
        padding: 10px;
        background-color: rgb(230, 229, 229);
        border-radius: 5px;
        font-size: 24pt;
    }

    .information-container:not(:last-child) {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 800px) {
    .substrate { margin: 2% 1%; }
}

.scroll-container {
    size: auto;
    display: flex;
    padding-bottom: 5px;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .card {
        display: inline-block;
        margin-left: 4px;
        margin-top: 12px;
        padding: 15px;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        font-size: 16pt;
        color: black;
    }
    .card-gray {
        display: inline-block;
        margin-left: 4px;
        margin-top: 12px;
        padding: 15px;
        border-radius: 5px;
        background-color: rgb(230, 229, 229);
        font-size: 16pt;
        color: black;

    }

}
.scroll-container::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
    height: 8px;
}
.scroll-container::-webkit-scrollbar-thumb {
    background-color: rgb(189, 189, 189);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
}

@media print {
    .dashboard-sidebar, form, input, .dashboard-header-nav {
        visibility: hidden;
        display: none;
    }
    .dashboard-body { padding: 1%; }
    .substrate { font-size: 0.5rem; }
    .print {
        visibility: visible;
        text-align: center;
        margin-top: 5%;
    }
    @page {
        margin: 0;
    }
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #929292;
	border-collapse: collapse;
    th {
        font-weight: bold;
        padding: 5px;
        background: #949494;
        border: 1px solid #dddddd;
    }
    td {
        border: 1px solid #dddddd;
        background-color: white;
        padding: 5px;
    }
    a {
        color: black;
    }
    .asnwer-right {
        background-color: rgb(75, 170, 83);
    }
    .asnwer-wrong {
        background-color: rgb(170, 75, 75);
    }
}
@media screen and (max-width: 800px) {
    .table { font-size: 0.8rem; margin-bottom: 0%; }
}

.button-form {
    width: auto;
    display: inline-block;
}
.submit-button {
    width: auto;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    font-size: 15pt;
    background-color: rgb(230, 229, 229);
    border: 2px solid rgb(230, 229, 229);
    border-radius: 8px;
    cursor: pointer;
}
.submit-button:hover {
    background-color: rgb(175, 175, 175);
    border-color: rgb(175, 175, 175);
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.test-container {
    width: auto;
    height: auto;
    margin: 2% 8%;
    background-color: white;
    border-radius: 5px;

    .head {
        width: 100%;
        height: auto;
        background-color: #2E2F45;
        border-radius: 5px;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 34pt;
        color: white;
        text-align: center;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    }

    .answer-container {
        padding: 2%;

        .asnwer {
            background-color: rgb(230, 229, 229);
            border-radius: 8px;
            padding: 2%;
            font-size: 30pt;
        }
        .asnwer:not(:last-child) {
            margin-bottom: 10px;
        }
        input[type=radio] {
            border: 0px;
            width: 30pt;
            height: 2em;
        }
        .submit-button {
            font-size: 20pt;
        }
    }
}

@media screen and (max-width: 800px) {
    .test-container { 
        margin: 1%; 
        .head { font-size: 1.6rem; }
        .answer-container {
            padding: 1%;
            .asnwer { font-size: 1.4rem; }
            .submit-button { font-size: 1.2rem; }
        }
    }
}

.center-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form {
    width: auto;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
    z-index: 0;

    input, .form-input {
        width: 100%;
        padding: 1% 2%;
        font-size: 28pt;
        resize: vertical;
    }
    input:not(:last-child) {
        margin-bottom: 10px;
    }
    label {
        padding: 1% 2%;
        font-size: 28pt;
    }
    .remember-me{
        font-size: 12pt;
    }
    input[type=checkbox] {
        border: 0px;
        width: 12pt;
    }
    a {
        color: black;
    }
    button {
        margin: 2%;
    }
}

.select2 {
    width: 104%;
    font-size: 28pt;
    z-index: 0;
}
.select2:not(:last-child) {
    margin-bottom: 10px;
}
.select2-selection__rendered {
    line-height: 38px !important;
}
.select2-container .select2-selection--single {
    height: auto !important;
    padding: 1% 2%;
}
.select2-selection__arrow {
    height: 34px !important;
}
@media screen and (max-width: 800px) {
    .auth-form {
        margin: 3%;
        input { padding: 1%; font-size: 1.2rem; }
        label { font-size: 1.5rem; }
    }
    .select2 { font-size: 1.5rem; }
}

.navigate-button {
    background-color: #2b3246;
    font-size: 15pt;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
}
.question-number{
    width: 150px;
    height: auto;
    margin-left: 4px;
    margin-top: 12px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 16pt;
    color: black;
    text-align: center;
}
@media screen and (max-width: 800px) {
    .question-number {
        padding: 1%;
    }
}

.green {
    background-color: #44b118;
    color: #174903;
}
.red {
    background-color: #982323;
    color: #380909
}
.blue {
    background-color: #30498f;
    color: #09163a;
}
.white-text {
    color: white;
}
.blue-text {
    color: #30498f;
}

.small-gap {
    gap: 1%;
}

.button-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1%;
}
@media screen and (max-width: 800px) {
    .button-group { grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); }
}

.test-card-container{
    size: 100%;
    padding: 0.5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
    margin-right: 5px;
}
.test-card{
    padding: 3%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 1.8rem;
    color: black;
}
.headtest-card {
    margin-bottom: 4px;
}
.concret-wordtest-card {
    background-color: rgb(230, 229, 229);
    padding: 3%;
    border-radius: 5px;
    margin-top: 3%;
}
@media screen and (max-width: 800px) {
    .test-card-container { grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); }
}

.statistic-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 10px;
}
.statistic-card {
    display: block;
    height: auto;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 12px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(230, 229, 229);;
    font-size: 2rem;
    color: black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media screen and (max-width: 800px) {
    .statistic-card { font-size: 1.2rem; }
    .statistic-card-container { grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); }
}

.search-form {
    z-index: 2;
    height: 100%;
}
.search-input {
    height: 80%;
    border: 1px solid gray;
    border-radius: 5px;
}
.search-button {
    height: 100%;
    border: 0px;
    background-color: rgb(255, 255, 255)
}

.answer-graph-container {
    display: flex;
    width: 100%;
    height: 20px;
    margin-top: 5px
}
.answer {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0px;
}

.add-button {
    size: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #2E2F45;
    color: white;
    padding: 10px;
    border-radius: 50px;
    margin: 10px;
    font-size: 1.5rem;
}

.about-body {
    padding-top: 4%;
    height: 100vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.about-card {
    width: 100%;
    display: flexbox;
}
.about-card-text {
    margin-top: 10vh;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    text-align: center;
    font-size: 5rem;
    color: black;
    background-color: #ffffff89;
    border-radius: 30px;
}
.about-button-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}
.about-card-button {
    font-size: 4rem;
    color: black;
    background-color: #ffffff89;
    border-radius: 30px;
    padding: 5%;
    text-align: center;
}
@media screen and (max-width: 800px) {
    .about-card-text { font-size: 2rem; }
    .about-card-button { font-size: 1.5rem; }
    .about-button-container { grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }
}

.avatar-img {
    height: 20%;
    width: 20%;
    margin-bottom: 1%;
    border-radius: 10px;
}
@media screen and (max-width: 800px) {
    .avatar-img{ width: 100%; height: 100%; }
}

.textarea-card {
    width: 100%;
    height: 50px;
    resize: none;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2% 1%;
    padding: 0.5%;

    .card {
        width: 100%;      
        padding: 3%;
        background-color: white;
        border-radius: 8%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .text-string {
        padding: 0.5% 3%;
        font-size: 1.2rem;
    }
    .image-container {
        width: 100%;
        aspect-ratio: 1 / 1;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 8%;
        object-fit: contain;
    }
}
@media screen and (max-width: 800px) {
    .cards-container { gap: 10px; margin-top: 0%; grid-template-rows: repeat(auto-fill, minmax(10%, 1fr))}
}

.sort-menu {
    width: auto;
    height: auto;
    padding: 0.5%;
    margin: 0% 0.5%;
    background-color: white;
    border-radius: 10px;

    select, button {
        border: 1px solid rgb(216, 216, 216);
        border-radius: 10px;
        padding: 0.2%;
    }
}

.text {
    font-size: 1.5rem;
}